<ion-header>
  <ion-toolbar>
    <ion-title>Reserva - Serviço 01</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corporeserva">

  <ion-row class="slide">
    <ion-col size="12">
      <ion-slides pager="true" >  <!--[options]="slideOpts"> -->
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
      </ion-slides>
    </ion-col>
  
  </ion-row>


  <ion-row>

    <ion-col size="12">

      <h3>SOLICITAR AGENDAMENTO</h3>
      
    </ion-col>

  </ion-row>
 
  <form [formGroup]="reserva" (ngSubmit)="cadReserva()">
        <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>Funcionário</ion-label>
                <ion-select placeholder="Selecione o funcionário" okText="Confirmar" cancelText="fechar" [(ngModel)]="codFunc" formControlName="codFunc">
                  <ion-select-option *ngFor='let func of funcs' value="{{ func.Codigo }}">{{ func.NomeFunc }}</ion-select-option>
                  
                </ion-select>
              </ion-item>
            </ion-col>

              <ion-select-option> </ion-select-option>

            <ion-col size="12">
              <ion-item>
                <ion-label>Data e Hora</ion-label>
                <ion-datetime 
                        displayFormat="DD MMM HH:mm" 
                        monthShortNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                        hourValues="08,09,10,11,14,15,16,17,18,19,20"
                        minuteValues="0,30"
                        min="{{ dataMin }}"
                        doneText="Confirmar" 
                        cancelText="fechar"
                        [(ngModel)]="dataReserva" 
                        formControlName="dataReserva">
                </ion-datetime>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-button type="submit">Reservar</ion-button> 
            </ion-col>
        </ion-row>
  </form>
        
  <!--<ion-row>
    <ion-col size="12">
        <ion-button href="/tabs/pg/reserva/" expand="block">Agendar</ion-button>
    </ion-col>
  </ion-row> -->

  <ion-row class="social">
    <ion-col size="3">
      <img src="../../../assets/IMG/twiter.png" alt="TwiterHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/face.png" alt="FaceHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/insta.png" alt="InstaHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/link.png" alt="LinkHome"/>
    </ion-col>
  </ion-row>

 

 
</ion-content>
