.corporeserva{
    --background: #ffffff url("../../../assets/img/1x/fundonomeservico.png") no-repeat center center / cover;
}
ion-toolbar{
    --background: #9f87bb;
  
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 2% 0;
}
.social{
    text-align: center;
}
.social img {
    width: 62%;
}