<ion-header>
 
  <ion-toolbar>
      <ion-title>{{dados[0]?.NomeServico}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="corpodetalhe" >

  <ion-row class="banner"> 
    <ion-col size="12">
      <ion-slides pager="true" >  <!--[options]="slideOpts"> -->
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
      </ion-slides> 
    </ion-col>
  
    </ion-row> 

 <ion-row> 

    <ion-col size="12">
      <p>{{dados[0]?.texto}}</p>
  
    </ion-col>
  </ion-row>

  <ion-row>

   <!-- <ion-col size="12">
      <ion-button href="/tabs/pg/reserva/{{dados[0]?.Codigo}}" expand="block">Agendar</ion-button>
    </ion-col>
  </ion-row> -->

    <ion-col size="12">
      <ion-button href="/tabs/pg/reserva/" expand="block">Agendar</ion-button>
    </ion-col>
  </ion-row>

  
 

</ion-content>
