<ion-content class="corpologin"> 
  <img src="../../../assets/IMG/logo.png" alt="LogoKibeleza"/>

  <ion-row>
    <ion-col size="12" class="linhabem"> 
      <h1>Seja Bem-Vindo</h1>

    </ion-col>
   
  </ion-row>

  <ion-item class="loginitem iteminput ">
    <ion-icon name="mail-outline" color="primary"></ion-icon>
    <ion-input type="e-mail" placeholder="E-mail" autofocus="true"required="true" [(ngModel)]="Email"></ion-input>
  </ion-item>
  
  

  <ion-item class="iteminput">
    <ion-icon name="lock-closed-outline"color="primary"></ion-icon>
    <ion-input type="senha" placeholder="Senha" autofocus="true"required="true" [(ngModel)]="senha"></ion-input>
  </ion-item>
  
 
    <ion-button class="btn btnfundo" expand="block">Entrar</ion-button>
    <ion-button class="btn borda"  expand="block" fill="outline" href="/tabs/pg/cadastro/">Cadastro</ion-button>


</ion-content>
