.corpoHome{
    --background: #ffffff url("../../../assets/img/fundo-home.png") no-repeat center center / cover;
    text-align: center;
}
.corpoHome img {
    width: 60%;
    margin-top: 15%;
}
.linhaHome img {
    width:98%;
}
.linhaSlide img{
    width: 90%;
}
.linhaSlide ion-slides {
    margin-top: -25px;
}
.social{
    margin: 5% 0;
}
.social img {
    width: 62%;
}