<ion-header>
 
 
  <ion-toolbar >
    <ion-title>Serviço</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar class="pesquisa">
    <ion-searchbar placeholder="Filter Schedules"></ion-searchbar>
  </ion-toolbar>


    <ion-row class="menu">
      <ion-col size="4">
        <img src="../../../assets/IMG/1x/imglistaserv.png" alt="serviço Kibeleza"/>
      </ion-col>
      
      <ion-col size="8" class="itemservico">
      <h4>Serviço 01</h4> 
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
        <a href="/tabs/pg/detalhe/"class="icondetalhe">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </a>
      </ion-col>

    </ion-row>
 <ion-row class="menupt2">
      <ion-col size="4">
        <img src="../../../assets/IMG/1x/img2listaserv.png" alt="serviço Kibeleza"/>
      </ion-col>
      
      <ion-col size="8" class="itemservico2">
      <h4>Serviço 01</h4> 
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
        <a href="#" class="icondetalhe2">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </a>
      </ion-col>

  </ion-row>
  
  <ion-row class="menupt3">
    <ion-col size="4">
      <img src="../../../assets/IMG/1x/img3listaserv.png" alt="serviço Kibeleza"/>
    </ion-col>
    
    <ion-col size="8" class="itemservico3">
    <h4>Serviço 01</h4> 
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
      <a href="#" class="icondetalhe3">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </a>
    </ion-col>

</ion-row>

 

</ion-content>
