<ion-header>
 
 
  <ion-toolbar >
    <ion-title>Procedimentos</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar class="pesquisa">
    <ion-searchbar placeholder="Filter Schedules"></ion-searchbar>
  </ion-toolbar>


    <ion-row class="servicoItem" *ngFor="let itemServico of servicos">
     
      <ion-col size="4">
        <ion-img [src]="servidorUrl.pegarUrl()+itemServico.fotoServico"></ion-img>
      </ion-col>

      <ion-col size="8" class="itemservico">
        <h4>{{itemServico.NomeServico}}</h4> 
        <p>{{itemServico.descServico}}</p>
          <a href="/tabs/pg/detalhe/{{itemServico.Codigo}}"class="icondetalhe">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </a>
      </ion-col>

    </ion-row>

 

 

</ion-content>
