ion-toolbar{
    --background: #9f87bb;
   
   
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 8%;
    padding: 2% 0;
}
.pesquisa {
    margin-top: 2%;
    --background: #3D3D3F;
}

ion-row{
    background: #9f87bb38;
}

ion-row:nth-child(even){
    background: rgba(61, 61, 63, 0.25);
}

.menu{
   
    font-size: 0.9em;
    text-align: justify;
}
.menu img {
    margin-top: -31%;
}
.itemservico h4{
    margin-top:0 ;
    color:#3D3D3F ;
    font-size: 1.2em;

}
.itemservico p {
    font-size: .7em;
}
.icondetalhe {
    float: right;
    font-size: 1.6em;
    margin-top: -5%;
}


.menupt2{
    --background: #9f87bb;
    font-size: 0.9em;
    text-align: justify;
}
.menupt2 img {
    margin-top: -26%;
}
.itemservico2 h4{
    margin-top:0 ;
    color:#3D3D3F ;
    font-size: 1.2em;

}
.itemservico2 p {
    font-size: .7em;
}
.icondetalhe2 {
    float: right;
    font-size: 1.6em;
    margin-top: -5%;
}


.menupt3{
    --background: #9f87bb;
    font-size: 0.9em;
    text-align: justify;
}
.menupt3 img {
    margin-top: -5%;
}
.itemservico3 h4{
    margin-top:0 ;
    color:#3D3D3F ;
    font-size: 1.2em;

}
.itemservico3 p {
    font-size: .7em;
}
.icondetalhe3 {
    float: right;
    font-size: 1.6em;
    margin-top: -5%;
}