.corpoperfil{
    --background: #ffffff url("../../../assets/img/1x/fundosobre.png") no-repeat center center / cover;
}
ion-toolbar{
    --background: #9f87bb;
   
   
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 8%;
    padding: 2% 0;
}

.corpoperfil{
    text-align: center;
}
.corpoperfil img{
    width: 60%;
    margin-top: 5%;
}