<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpoperfil">

  
  <ion-img [src]="urlServidor.pegarUrl()+this.dadosUsuario.getFotoUsuario()" alt="{{dadosUsuario.getNomeUsuario()}}"></ion-img>

  <ion-row>

    <ion-col size="12">
   
    <h2>Nome:{{dadosUsuario.getNomeUsuario()}} </h2>
    <h3>Email:{{dadosUsuario.getEmailUsuario()}}</h3>
  
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col size="12">
      <ion-button href="/tabs/pg/lista-servico/" expand="block">Serviços</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>

    <ion-col size="12">
      <ion-button (click)="sairLogin()" expand="block">Sair</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
