<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corposobre">

  <img src="../../../assets/IMG/logo.png" alt="logo"/>



<ion-row>

  <ion-col size="12">
    <p>
      É um fato estabelecido há muito tempo que um leitor se distrai com o 
      conteúdo legível de uma página ao examinar seu layout. O objetivo de usar 
      Lorem Ipsum é que ele tem uma distribuição de letras mais ou menos normal,
      em vez de usar 'Conteúdo aqui, conteúdo aqui', fazendo com que pareça um inglês
      legível. Muitos pacotes de editoração eletrônica e editores de páginas da Web agora usam 
      Lorem Ipsum como texto padrão do modelo, e uma pesquisa por 'lorem ipsum' descobrirá muitos 
      sites ainda na infância. Várias versões evoluíram ao longo dos anos, às vezes por acidente, às
      vezes de propósito (humor injetado e similares).
      

    </p>

  </ion-col>
</ion-row>


<ion-row class="bannerslide">
  <ion-col size="12">
    <ion-slides pager="true" >  <!--[options]="slideOpts"> -->
      <ion-slide>
        <img src="../../../assets/IMG/banner.png" alt="BannerHome"/>
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/IMG/banner.png" alt="BannerHome"/>
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/IMG/banner.png" alt="BannerHome"/>
      </ion-slide>
    </ion-slides>
  </ion-col>

</ion-row>
<ion-row class="social">
  <ion-col size="3">
    <img src="../../../assets/IMG/twiter.png" alt="TwiterHome"/>
  </ion-col>
  <ion-col size="3">
    <img src="../../../assets/IMG/face.png" alt="FaceHome"/>
  </ion-col>
  <ion-col size="3">
    <img src="../../../assets/IMG/insta.png" alt="InstaHome"/>
  </ion-col>
  <ion-col size="3">
    <img src="../../../assets/IMG/link.png" alt="LinkHome"/>
  </ion-col>
</ion-row>
</ion-content>