<ion-content class="corpoHome">

  <img src="../../../assets/IMG/logo.png" alt="LogoKibeleza"/>

  <ion-row class="linhaHome">

    <ion-col size ="6"> 
      <ion-tab-button tab="sobre">
      <img src="../../../assets/IMG/btn_home.png" alt="Botão Sobre"/>
       
      </ion-tab-button>
    </ion-col>
    <ion-col size ="6"> 
      <ion-tab-button tab="lista-servico">
        <img src="../../../assets/IMG/btn_home.png" alt="Botão Serviço"/>
        
      </ion-tab-button>
    </ion-col>
  

  </ion-row>
  <ion-row class="linhaSlide">
    <ion-col size="12">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerHome"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerHome"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerHome"/>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="social">
    <ion-col size="3">
      <img src="../../../assets/IMG/twiter.png" alt="TwiterHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/face.png" alt="FaceHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/insta.png" alt="InstaHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/link.png" alt="LinkHome"/>
    </ion-col>
  </ion-row>


</ion-content>
