<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-servico">
      <ion-icon name="cut-outline"></ion-icon>
      <ion-label>Serviço</ion-label>
    </ion-tab-button>
 

  <ion-tab-button tab="perfil">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
