.corposobre{
    --background: #ffffff url("../../../assets/img/1x/fundosobre.png") no-repeat center center / cover;
}
ion-toolbar{
    --background: #9f87bb;
   
   
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 8%;
    padding: 2% 0;
}
.corposobre{
    text-align: center;
}
.corposobre img{
    width: 60%;
    margin-top: 5%;
}
.corposobre p {
    text-align: justify;
    padding: 5%;
}
.bannerslide img{
    width: 90%;
}
.bannerslide{
    margin-top: -25px;   
}
.social{
    margin: 5% 0;
}
.social img {
    width: 62%;
}