<ion-header>
 
  <ion-toolbar>
    <ion-title>Detalhe Serviço</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="corpodetalhe" >

  <ion-row class="banner">
    <ion-col size="12">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
      </ion-slides>
    </ion-col>
  
  </ion-row>

  <ion-row>

    <ion-col size="12">
      <p>
        É um fato estabelecido há muito tempo que um leitor se distrai com o 
        conteúdo legível de uma página ao examinar seu layout. O objetivo de usar 
        Lorem Ipsum é que ele tem uma distribuição.<br>
        <br>
        É um fato estabelecido há muito tempo que um leitor se distrai com o 
        conteúdo legível de uma página ao examinar seu layout. O objetivo de usar 
        Lorem Ipsum é que ele tem uma distribuição.
        
  
      </p>
  
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col size="12">
      <ion-button href="/tabs/pg/reserva/" expand="block">Agendamento</ion-button>
    </ion-col>
  </ion-row>

  
 

</ion-content>
