.corpodetalhe{
    --background: #ffffff url("../../../assets/img/1x/fundonomeservico.png") no-repeat center center / cover;
}
ion-toolbar{
    --background: #9f87bb;
  
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-top: 5%;
    padding: 2% 0;
}
.banner img {
    width: 100%;
    margin-top: 0;
}
.corpodetalhe p {
    text-align: justify;
    padding: 0 5%;
}