<ion-content class="corpologin"> 
  <img src="../../../assets/IMG/logo.png" alt="LogoKibeleza"/>

  <ion-row>
    <ion-col size="12" class="linhabem"> 
      <h1>Seja Bem-Vindo</h1>

    </ion-col>
   
  </ion-row>

  <form>
    
    <ion-item class="loginitem iteminput ">
      <ion-icon name="person-outline" color="primary"></ion-icon>
      <ion-input type="text" placeholder="Nome" autofocus="true" inputmode="text" [(ngModel)]="nome" ></ion-input>
    </ion-item>

    <ion-item class="loginitem iteminput ">
      <ion-icon name="mail" color="primary"></ion-icon>
      <ion-input type="email" placeholder="E-mail" inputmode="mail" [(ngModel)]="nome" ></ion-input>
    </ion-item>

    <ion-item class="iteminput">
      <ion-icon name="lock-closed-outline"color="primary"></ion-icon>
      <ion-input type="senha" placeholder="Senha"  [(ngModel)]="senha" ></ion-input>
    </ion-item>
    

    <ion-button type="submit" class="btn btnfundo" expand="block">Cadastro</ion-button>


  </form>



</ion-content>

