.corpologin{
    --background: #ffffff url("../../../assets/IMG/1x/fundosobre.png") no-repeat center center / cover;
    text-align: center;
}
.corpologin img {
    width: 60%;
    margin-top: 15%;
}
.linhabem h1{
    font-size: 2em;
    margin-top: 5%;
 
}
ion-row{
    margin-bottom: 25%;
}
ion-item{
    padding: 2% 0;
}
ion-button{
    width: 90%;
    margin: 2% auto;
}

.iteminput{
    opacity: .8;
    --background:#9f87bb;
}

.btn{
    color: #333;
}

.btnfundo{
    --background:#9f87bb;
}

.borda{
    --border-color:#9f87bb ;
}