.corporeserva{
    --background: #ffffff url("../../../assets/img/1x/fundonomeservico.png") no-repeat center center / cover;
}
ion-toolbar{
    --background: #9f87bb;
  
}
.social{
    text-align: center;
}
.social img {
    width: 62%;
}