<ion-header>
  <ion-toolbar>
    <ion-title>Reserva - Serviço 01</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corporeserva">

  <ion-row class="slide">
    <ion-col size="12">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/IMG/banner.png" alt="BannerDetalhe"/>
        </ion-slide>
      </ion-slides>
    </ion-col>
  
  </ion-row>


  <ion-row>

    <ion-col size="12">

      <h1>SOLICITAR AGENDAMENTO</h1>
    </ion-col>

  </ion-row>
  <form>
    <ion-row>
      
        <ion-col size="12">
          
          <ion-item>
            <ion-label>Funcionario</ion-label>
            <ion-select placeholder="Selecione" okText="Confirmar" cancelText="Fechar">
              <ion-select-option value="f">Func 01</ion-select-option>
              <ion-select-option value="m">Func 02</ion-select-option>
              <ion-select-option value="m">Func 03</ion-select-option>
            </ion-select>
        
          </ion-item>

        </ion-col>

        <ion-col size="12">
          <ion-item>
              <ion-label>Dia e Hora</ion-label>
              <ion-datetime displayFormat="DD MMM HH:mm" 
              monthShortNames= "Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dec"
              horaValues="08, 09, 10 11, 13, 14, 15, 16, 17, 18, 19, 20"
              minuteValues="0,30"
              doneText="Confirmar"
              cancelText="Fechar">
              
              </ion-datetime>
        
          </ion-item>
        </ion-col>
          
        
      
    </ion-row>
  </form>
  <ion-row>
    <ion-col size="12">
        <ion-button href="/tabs/pg/reserva/" expand="block">Agendar</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="social">
    <ion-col size="3">
      <img src="../../../assets/IMG/twiter.png" alt="TwiterHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/face.png" alt="FaceHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/insta.png" alt="InstaHome"/>
    </ion-col>
    <ion-col size="3">
      <img src="../../../assets/IMG/link.png" alt="LinkHome"/>
    </ion-col>
  </ion-row>

 

 
</ion-content>
